input {
    font-family: var(--font-family-main);
    font-style: var(--font-style);
    font-weight: 500;
    font-size: 16px;
    line-height: 36px;
    width: 100%;
    outline: none;
    background-color: var(--translation-fields-background);
    border: 0;
    color: var(--color-text-main);
    transition: color var(--change-theme-duration);
    padding: 0 2px;

    @media screen and (max-width: 768px){
        font-size: 14px;
    }
}
